:root {
    --header-bg: #9be8ff;
    --sidebar-bg: rgb(227, 248, 255);
    --header-padding: 30px;
    --sidebar-button-pad: 10px;

    --hover-bg-color: #e2e2e2;
    --submit-btn-bg: #8afc8a;
    --cancel-btn-bg: #fd5050;

    --todo-padding: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 7fr 0.5fr;
    grid-template-columns: 1fr 4fr;

    min-height: 100vh;
}

button {
    outline: none;
    border: none;
    text-align: left;
}

input:focus {
    outline: none;
}

header {
    display: flex;
    align-items: center;

    background-color: var(--header-bg);

    padding: 10px var(--header-padding);

    grid-row: 1;
    grid-column: 1 / -1;
}

nav {
    background-color: var(--sidebar-bg);

    grid-row: 2;
    grid-column: 1;
}

nav button {
    background-color: var(--sidebar-bg);

    font-size: inherit;
    padding: var(--sidebar-button-pad);

    border-radius: 10px;

    transition: all 150ms ease-in-out;
}

nav button:hover {
    background-color:rgb(159, 231, 255);
}

.main-links {
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* This should automatically align the button text in .main-links with the header text */
    padding: 0 calc(var(--header-padding) - var(--sidebar-button-pad));
    margin: 20px 0 5px;

    font-size: 1.5rem;
}

.projects-header {
    font-size: 1.6rem;

    margin-left: var(--header-padding);
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-links button {
    width: 80%;
    font-size: 1rem;

    padding: var(--todo-padding);

    transition: background-color 150ms ease-in-out;
    
    margin-left: calc(var(--header-padding));
}

.project-link {
    display: flex;
    align-items: center;

    width: 80%;
    font-size: 1rem;

    padding: var(--sidebar-button-pad);
    border-radius: 10px;

    margin-left: calc(var(--header-padding));

    transition: background-color 150ms ease-in-out;
}

.project-link:hover {
    background-color:rgb(159, 231, 255);
}

.add-project-form {
    margin-left: calc(var(--header-padding));

    width: auto;
}

.add-project-form input {
    width: 80%;

    padding: var(--todo-padding);
    font-size: 1rem;

    padding: 5px;
}

.add-project-form .form-btns {
    gap: 5px;
    width: 80%;

    display: flex;
    justify-content: start;
}

.add-project-form .form-btns button {
    margin-left: 0;
    text-align: center;
}

/* The main content area (where todo lists are displayed) */

main {
    padding: 25px;

    background-color: white;
    grid-row: 2;
    grid-column: 2 / -1;
}

main h2 {
    margin-bottom: 10px;
}

.todos {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

/* Todos */

.todo {
    background-color: #f4f4f4;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    padding: var(--todo-padding);

    transition: all 150ms ease-in-out;
}

.todo:hover {
    transform: scale(1.005);
    /* Shadow helps create a sense of popping out */
    box-shadow: 3px 3px 5px 2px rgb(0 0 0 / .2);
}

.low-priority {
    border-left: 5px solid green;
}

.med-priority {
    border-left: 5px solid rgb(255, 154, 31);
}

.high-priority {
    border-left: 5px solid red;
}

.todo-title {
    cursor: pointer;
}

.todo-checkbox {
    margin-right: 10px;
}

.date {
    margin-left: auto;
    margin-right: 10px;

    cursor: pointer;
}

.add-todo-btn {
    border: 1px solid grey;
    border-radius: 5px;

    width: 100%;
    background-color: white;

    font-size: 1rem;

    padding: var(--todo-padding);

    transition: background-color 150ms ease-in-out;
}

.add-todo-btn:hover {
    background-color: var(--hover-bg-color);
}

.add-todo-form input {
    width: 100%;
}

/* Form */

.add-todo-form input {
    padding: var(--todo-padding);
    font-size: 1rem;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin-top: 10px;

    width: 100%;
}

.form-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-btn {
    background-color: var(--submit-btn-bg);
    
    transition: background-color 150ms ease-in-out;
}

.submit-btn:hover {
    background-color: #76d576;
}

.cancel-btn {
    color: var(--cancel-btn-bg);

    background: white;
    border: 1px solid var(--cancel-btn-bg);

    transition: all 150ms ease-in-out;
}

.cancel-btn:hover {
    background-color: var(--cancel-btn-bg);
    color: white;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--header-bg);

    grid-column: 1 / -1;
    padding: 15px;
}

.fa-github {
    font-size: 24px;
    color: black; /* prevent icon from going red on click */
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}