:root {
    --nav-bg: #9be8ff;
    --sidebar-bg: rgb(227, 248, 255);
    --header-padding: 30px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 7fr 0.5fr;
    grid-template-columns: 1fr 4fr;

    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;

    background-color: var(--nav-bg);

    padding: 10px var(--header-padding);

    grid-row: 1;
    grid-column: 1 / -1;
}

nav {
    background-color: var(--sidebar-bg);

    grid-row: 2;
    grid-column: 1;
}

.main-links {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 var(--header-padding);
    margin: 20px 0 5px;

    font-size: 1.5rem;
}

.projects-header {
    font-size: 1.6rem;

    padding: var(--header-padding);
}

main {
    padding: 25px;

    background-color: white;
    grid-row: 2;
    grid-column: 2 / -1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--nav-bg);

    grid-column: 1 / -1;
    padding: 15px;
}

.fa-github {
    font-size: 24px;
    color: black; /* prevent icon from going red on click */
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}